<!-- app/views/ingredients/_form.html.erb -->

<%= form_for @ingredient do |i| %>

<ul>
  <% @ingredient.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>

  <%= i.label :name %>
  <%= i.text_field :name %><br />

  <%= i.label :amount %>
  <%= i.number_field :amount %><br />

  <%= i.label :category_id %>
  <%= i.collection_select(:category_id, Category.all, :id, :name) %><br />

  <%= i.label :location_id %>
  <%= i.collection_select(:location_id, Location.all, :id, :name) %><br />

  <%= i.label :expire %>
  <%= i.text_field :expire, "data-provide" => 'datepicker' %><br />

  <!--if new record, button text is "create" , else it is "update"-->
  <%= i.submit (@ingredient.new_record? ? "Create" : "Update") %><br />
<% end %>
