<h1>Ingredients</h1>

<div class="expire-tables">
  <div class="expire-table">
      <div class="toprow"><b>Expired products:</b></div>
      <% @ingredients.each do |ingredient| %>
        <% if (ingredient.expire < Date.today)%>
          <div class="expirerow"><b><%= link_to ingredient.name, ingredient_path(ingredient.id) %></b> </div>
        <% end %>
      <% end %>
  </div>
  <div class="expire-table">
      <div class="toprow"><b>Almost expired products (within 3 days):</b></div>
      <% @ingredients.each do |ingredient| %>
        <% if ((ingredient.expire - 3) < Date.today) && ((ingredient.expire)> Date.today)%>
          <div class="expirerow"><%= link_to ingredient.name, ingredient_path(ingredient.id)%> - Expires on: <%= ingredient.expire.strftime("%d-%m-%Y")  %> - <%= link_to "Search recipes of #{ingredient.name}", "http://allrecipes.com/search/results/?wt=#{ingredient.name}" %></div>
        <% end %>
      <% end %>
  </div>
</div>
<!-- Listing all items inside the ingredients. -->
<div class="table">
  <div class="row">
    <div class="cell">Name</div>
    <div class="cell">Category</div>
    <div class="cell">Amount</div>
    <div class="cell">Location</div>
    <div class="cell">Expires on</div>
    <div class="cell">Actions</div>
  </div>
  <% @ingredients.each do |ingredient| %>
    <div class="row">
      <div class="cell"><%= link_to ingredient.name, ingredient_path(ingredient.id) %></div>
      <div class="cell"><%=  ingredient.category.name  %></div>
      <div class="cell"><%=  ingredient.amount  %></div>
      <div class="cell"><%=  ingredient.location.name  %></div>
      <div class="cell"><%=  ingredient.expire.strftime("%d-%m-%Y") %></div>
      <div class="cell">

        <div class="button--small-row"><%= link_to "VIEW RECIPES", "http://allrecipes.com/search/results/?wt=#{ingredient.name}" %></div>
        <div class="button--small-row"><%= link_to "SHOW", ingredient_path(ingredient.id) %></div>
      </div>
    </div>
  <% end %>
