<h1>Ingredients</h1>

<!-- Listing all items inside the ingredients. -->
<div class="table">
  <div class="row">
    <div class="cell">Name</div>
    <div class="cell">Category</div>
    <div class="cell">Amount</div>
    <div class="cell">Location</div>
    <div class="cell">Expires on</div>
    <div class="cell">Actions</div>
  </div>
  <% @ingredients.each do |ingredient| %>
    <div class="row">
      <div class="cell"><%= link_to ingredient.name, ingredient_path(ingredient.id) %></div>
      <div class="cell"><%=  ingredient.category.name  %></div>
      <div class="cell"><%=  ingredient.amount  %></div>
      <div class="cell"><%=  ingredient.location.name  %></div>
      <div class="cell"><%=  ingredient.expire.strftime("%d-%m-%Y") %></div>
      <div class="cell">

        <div class="button--small-row"><img src=<%= asset_path 'knife-and-fork.png' %> /> <%= link_to "VIEW RECIPES", "http://allrecipes.com/search/results/?wt=#{ingredient.name}" %></div>
        <div class="button--small-row"><img src=<%= asset_path 'eye.png' %> /><%= link_to "SHOW", ingredient_path(ingredient.id) %></div>
      </div>
    </div>
  <% end %>



</div>
<div class="expire-table">
    <div class="toprow"><b>Expired products:</b></div>
    <% @ingredients.each do |ingredient| %>
      <% if (ingredient.expire < Date.today)%>
        <div class="expirerow"><%= link_to ingredient.name, ingredient_path(ingredient.id) %></div>
      <% end %>
    <% end %>
</div>
<div class="expire-table">
    <b>Almost expired products (within 3 days):</b><br>
    <% @ingredients.each do |ingredient| %>
      <% if ((ingredient.expire - 3) < Date.today)%>
        <%= link_to ingredient.name, ingredient_path(ingredient.id)%><%= ingredient.expire.strftime("%d-%m-%Y")  %><br />
      <% end %>
    <% end %>
</div>
