<h1><%= @ingredient.name %></h1>

<p>Category: <%= @ingredient.category.name %></p>
<p>Location: <%= @ingredient.location_id %></p>
<p>Expires: <%= @ingredient.expire %></p>

<%= link_to "[Edit]", edit_ingredient_path( @ingredient.id ) %>
<%= link_to "[Delete]", ingredient_path( @ingredient.id ), method: :delete, data: { confirm: "Are you sure?" } %>
