<!DOCTYPE html>
<html>
  <head>
    <title>Stocky - The ingredient stock helper</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|PT+Sans:400,400i,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo animated fadeIn serif-font"><%= image_tag("groceries.png", :alt => "stocky logo") %> Stocky</div>
        <h1 class="slogan animated fadeIn serif-font">Saving time, money, food and the world!</h1>
      </header>
      <div class="modal-box animated fadeInUp">

        <%= yield %>



      </div>
      <div class="clear"></div>
      <div class="buttons">
        <div class="button--new animated fadeInUp"><%= link_to "+ Add an ingredient", new_ingredient_path %></div>
        <div class="button--current animated fadeInUp"><%= link_to "Show my stock (ingredients)!", root_path %></div>
      </div>

    </div>
  </body>
</html>
